{{define "cliplist"}}
<div id="creatediv" class="mb-4 flex space-x-2">
  <button hx-get="/clipboard" hx-target="#list-container" class="ok-button">
    Refresh
  </button>
  <button
    hx-get="/clipboard/new"
    hx-swap="beforeend settle:0s"
    hx-target="#overlay"
    class="ok-button"
  >
    Create
  </button>
  <span class="grow"></span>
  <button hx-delete="/clipboard/all" class="del-button">Delete All</button>
</div>
<div id="todo-list" class="flex flex-col space-y-2">
  {{range .}}
  <div class="flex max-w-full items-center space-x-2">
    <span
      class="bg-blue-200/15 grow whitespace-pre-wrap rounded-lg px-3 py-1 indent-0 duration-200 hover:bg-blue-200/25"
      >{{.Text}}</span
    >
    <button
      hx-delete="/clipboard?id={{.Id}}"
      class="hover:bg-blue-950/85 m-1 flex items-center justify-center rounded-md bg-blue-950/60 fill-pink-600 p-1 duration-150 ease-in hover:cursor-pointer hover:fill-red-600"
    >
      <svg
        version="1.1"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
      >
        <path
          d="m2.1213 30.121a2.8336 2.8336 176.53 004-.24264l23.757-23.757a3 3 90 000-4.2426 2.8336 2.8336 176.53 00-4 .24264l-23.757 23.757a3 3 90 000 4.2426z"
        />
        <path
          transform="matrix(-1,0,0,1,32,0)"
          d="m2.1213 30.121a2.8336 2.8336 176.53 004-.24264l23.757-23.757a3 3 90 000-4.2426 2.8336 2.8336 176.53 00-4 .24264l-23.757 23.757a3 3 90 000 4.2426z"
        />
      </svg>
    </button>
  </div>
  {{end}}
</div>
{{end}} {{template "cliplist" .}}
