{{define "files"}}
<div id="display-files" class="text-gray-200 flex space-x-6">
  {{ range . }}
  <div>
    <a download href="/file/{{.Id}}">{{.Filename}}</a>
  </div>
  {{end}}
</div>
<div id="upload-file" class="flex flex-row-reverse space-x-4 space-x-reverse">
  <form
    id="file-form"
    hx-post="/file/new"
    hx-swap="innerHTML"
    hx-target="#display-files"
    hx-select="#display-files"
    hx-on::after-request="if (event.detail.successful) this.reset()"
    hx-encoding="multipart/form-data"
    class="flex flex-row-reverse space-x-4 space-x-reverse"
  >
    <label for="file-upload" class="ok-button cursor-pointer flex items-center"
      >Upload File</label
    >
    <input type="file" name="file" id="file-upload" multiple hidden />
    <input type="submit" value="Upload" class="ok-button cursor-pointer" />
  </form>
</div>
{{end}} {{template "files" .}}
