{{define "index"}}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/tailwind.css" rel="stylesheet" />
  </head>

  <script src="/htmx.min.js"></script>

  <body>
    <div id="overlay"></div>
    <div id="main" class="min-h-screen bg-blue-800 antialiased">
      <div
        hx-boost="true"
        class="bg-blue-200/15 sticky top-0 z-10 flex space-x-4 p-2 text-2xl font-bold shadow-md shadow-slate-400/5 backdrop-blur lg:p-3 lg:text-3xl xl:p-4 xl:text-4xl"
      >
        <a
          href=""
          hx-get="/clipboard"
          hx-target="#list-container"
          hx-swap="innerHTML"
          hx-replace-url="true"
          hx-push-url="true"
          class="text-inherit duration-200 hover:text-orange-300"
          >Clipboard</a
        >
        <a
          href=""
          hx-get="/file"
          hx-target="#list-container"
          hx-swap="innerHTML"
          hx-replace-url="true"
          hx-push-url="true"
          class="text-inherit duration-200 hover:text-orange-300"
          >Files</a
        >
      </div>
      <div id="list-container" class="m-4">
        {{block "cliplist" .}}{{end}} {{block "files" .}}{{end}}
      </div>
    </div>
    <div
      hidden
      hx-get="/clipboard"
      hx-trigger="Clipboard-Load from:body"
      hx-target="#list-container"
      hx-swap="innerHTML"
    ></div>
    <div
      hidden
      hx-get="/file"
      hx-trigger="Files-Load from:body"
      hx-target="#list-container"
      hx-swap="innerHTML"
    ></div>
  </body>
</html>
{{end}} {{define "nil"}}{{end}}
