{{define "index"}}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/tailwind.css" rel="stylesheet" />
  </head>

  <script src="/htmx.min.js"></script>

  <body class="bg-slate-900 min-h-full antialiased">
    <div
      class="text-4xl sticky top-0 z-10 min-w-full p-4 bg-slate-800/80 shadow-md backdrop-blur-2xl font-bold"
    >
      <a
        href=""
        hx-get="/clipboard"
        hx-target="#list-container"
        hx-swap="innerHTML"
        hx-replace-url="true"
        hx-push-url="true"
        class="duration-100 hover:text-orange-100"
        >Clipboard</a
      >
      <a
        href=""
        hx-get="/file"
        hx-target="#list-container"
        hx-swap="innerHTML"
        hx-replace-url="true"
        hx-push-url="true"
        class="duration-100 hover:text-orange-100"
        >Files</a
      >
    </div>
    <div id="list-container" class="px-8 mt-8">
      {{block "cliplist" .}}{{end}} {{block "files" .}}{{end}}
    </div>
    <div
      class="z-20 absolute top-0 backdrop-blur-2xl h-fit w-fit flex justify-center items-center"
      id="new-clip"
    ></div>
    <div
      hidden
      hx-get="/clipboard"
      hx-trigger="Clipboard-Load from:body"
      hx-target="#list-container"
      hx-swap="innerHTML"
    ></div>
    <div
      hidden
      hx-get="/file"
      hx-trigger="Files-Load from:body"
      hx-target="#list-container"
      hx-swap="innerHTML"
    ></div>
  </body>
</html>
{{end}} {{define "nil"}}{{end}}
