{{define "login"}}
<!doctype html>
<html class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/tailwind.css" rel="stylesheet" />
  </head>

  <script src="/htmx.min.js"></script>

  <body class="bg-slate-900 antialiased">
    <div
      id="main"
      class="min-h-screen bg-slate-900 flex items-center justify-center"
    >
      <div
        class="bg-slate-800 p-6 text-center max-w-md w-full rounded-2xl shadow-lg"
      >
        <h2 class="text-3xl font-bold mb-8">Login</h2>
        <form
          id="loginform"
          hx-post="/login"
          hx-target="body"
          hx-swap="innerHTML"
          class="space-y-4"
        >
          <div>
            <input
              type="text"
              autocapitalize="none"
              spellcheck="false"
              id="usernameinp"
              name="username"
              placeholder="Username"
              required
              class="w-full px-4 py-2 border-2 border-slate-300 rounded-lg focus:outline-none focus:border-2 focus:border-orange-400"
            />
          </div>
          <div>
            <input
              type="password"
              id="passwordinp"
              name="password"
              placeholder="Password"
              required
              class="w-full px-4 py-2 border-2 border-slate-300 rounded-lg focus:outline-none focus:border-2 focus:border-orange-400"
            />
          </div>
          <div class="">
            <input
              type="checkbox"
              id="remembermenp"
              name="remember"
              class="w-4 h-4 rounded-lg accent-orange-400 focus:ring-orange-400"
            />
            <label for="remembermenp" class=""> Remember Me </label>
          </div>
        </form>
        <div class="">
          <input
            type="submit"
            form="loginform"
            value="Login"
            class="w-full mt-4 btn"
          />
          <span id="loginmessage" class="">{{ . }}</span>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}} {{template "login" .}}
