{{define "login"}}
<h2 class="text-3xl font-bold mb-8">Login</h2>
<form
  id="loginform"
  hx-post="/login"
  hx-target="body"
  hx-swap="innerHTML"
  class="space-y-4"
>
  <div>
    <input
      type="text"
      autocapitalize="none"
      spellcheck="false"
      id="usernameinp"
      name="username"
      placeholder="Username"
      required
      class="w-full px-4 py-2 border-2 border-slate-300 rounded-lg focus:outline-none focus:border-2 focus:border-orange-400"
    />
  </div>
  <div>
    <input
      type="password"
      id="passwordinp"
      name="password"
      placeholder="Password"
      required
      class="w-full px-4 py-2 border-2 border-slate-300 rounded-lg focus:outline-none focus:border-2 focus:border-orange-400"
    />
  </div>
  <div class="">
    <input
      type="checkbox"
      id="remembermenp"
      name="remember"
      class="w-4 h-4 rounded-lg accent-orange-400 focus:ring-orange-400"
    />
    <label for="remembermenp" class=""> Remember Me </label>
  </div>
</form>
<div class="w-full mt-4 flex space-x-4">
  <input type="submit" form="loginform" value="Login" class="w-1/2 btn" />
  <button
    hx-get="/register"
    hx-target="body"
    hx-swap="innerHTML"
    class="w-1/2 btn"
  >
    Sign up
  </button>
</div>
{{with .}}
<div class="mt-4">
  <span id="loginmessage" class="px-2 text-red-400 rounded-md"> {{.}} </span>
</div>
{{end}} {{end}}
