{{define "newclip"}}
<div
  id="nclip-container"
  class="h-screen w-screen flex items-center justify-center"
>
  <div
    class="max-w-9/10 sm:max-w-2/3 lg:max-w-1/3 w-full bg-slate-800 text-center rounded-2xl flex-col space-y-8 p-6"
  >
    <h2 class="text-3xl font-bold">New Entry</h2>
    <form
      id="nclipform"
      hx-post="/clipboard/new"
      hx-target="#nclip-container"
      hx-swap="outerHTML"
    >
      <textarea
        id="new-description"
        name="text"
        class="w-full min-h-16 border-2 border-slate-300 rounded-lg p-2 focus:outline-none focus:border-2 focus:border-orange-400"
        placeholder="Text..."
        required
      ></textarea>
    </form>
    <div class="space-x-4 sm:space-x-6">
      <input type="submit" form="nclipform" value="Create" class="btn" />
      <button
        hx-get="/"
        hx-swap="delete"
        hx-target="#nclip-container"
        class="btn"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
{{end}}
