{{define "newclip"}}
<div
  id="ntodo-container"
  class="absolute flex justify-center z-20 h-full w-full p-8 backdrop-blur-sm"
>
  <div class="w-5/6 self-center p-6 rounded-xl bg-blue-900">
    <form
      id="ntodoform"
      hx-post="/clipboard/new"
      hx-target="#ntodo-container"
      hx-swap="outerHTML"
    >
      <textarea
        id="new-description"
        name="text"
        class="w-full placeholder-slate-400 p-4 rounded-lg border-2 border-blue-200/15 outline-none focus:border-orange-600"
        placeholder="Text..."
        required
      ></textarea>
    </form>
    <div class="pt-2">
      <input
        type="submit"
        form="ntodoform"
        value="Create"
        class="ok-button"
        placeholder="Due Time..."
      />
      <button
        hx-get="/"
        hx-swap="delete"
        hx-target="#ntodo-container"
        class="del-button"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
{{end}}
