{{define "register"}}
<h2 class="text-3xl font-bold mb-8">Sign up</h2>
<form
  id="registerform"
  hx-post="/register"
  hx-target="body"
  hx-swap="innerHTML"
  class="space-y-4"
>
  <div>
    <input
      type="text"
      autocapitalize="none"
      spellcheck="false"
      id="usernameinp"
      name="username"
      placeholder="Username"
      required
      class="w-full px-4 py-2 border-2 border-slate-300 rounded-lg focus:outline-none focus:border-2 focus:border-orange-400"
    />
  </div>
  <div>
    <input
      type="password"
      id="passwordinp"
      name="password"
      placeholder="Password"
      required
      class="w-full px-4 py-2 border-2 border-slate-300 rounded-lg focus:outline-none focus:border-2 focus:border-orange-400"
    />
  </div>
</form>
<div class="w-full mt-4 flex space-x-4">
  <input type="submit" form="registerform" value="Sign up" class="w-1/2 btn" />
  <button
    hx-get="/login"
    hx-target="body"
    hx-swap="innerHTML"
    class="w-1/2 btn"
  >
    Login
  </button>
</div>
{{with .}}
<div class="mt-4">
  <span id="loginmessage" class="px-2 text-red-400 rounded-md"> {{.}} </span>
</div>
{{end}} {{end}}
